<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">GDIS v0.3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

        <span class="navbar-text ml-auto text-right" style="align-self: right; float:right; margin: auto">
        Virtual Tour
      </span>
    </div>
</nav>

<div class="container-fluid" style="overflow: auto;">
    <div *ngFor="let v of list" style="padding-top: 5%;">
        <video width="30%" controls style="padding: 2%;">
          <source [src]=  v.vdourl    >
        Your browser does not support HTML5 video.

        
          </video>
        <p> {{ v.title }} </p>



    </div>
</div>