<!-- <div class=" container-fluid clear" style=" background: green; height: 50vh">


    <div class="row" style="height: 100%; ">
        <div class=" col clear inside-row  " style="background: #ffcc00">

            <div class="btndiv">
                <img class="btnimg" src="../../assets/images/tour.png" alt="">
                <br><br>
                <h3 class="btnh">Virtual Tour</h3>
            </div>
        </div>

        <div class="col clear inside-row " style="background: #ff3300">
            <div class="btndiv">
                <img class="btnimg" src="../../assets/images/tour.png" alt="">
                <br><br>
                <h3 class="btnh">Attendance</h3>
            </div>
        </div>

        <div class=" col clear inside-row " style="background: #3366ff">
            <div class="btndiv">
                <img class="btnimg" src="../../assets/images/tour.png" alt="">
                <br><br>
                <h3 class="btnh">Lecturers</h3>
            </div>
        </div>

        <div class="col clear inside-row " style="background: #6600cc">
            <div class="btndiv">
                <img class="btnimg" src="../../assets/images/timetable.png" alt="">
                <br><br>
                <h3 class="btnh">Time Table</h3>
            </div>
        </div>
    </div>


</div> -->

<div class="section group ">
    <a href="" routerLink="/nav/tour">
        <div class="col span_1_of_4  btn-div">
            <div class=" col clear inside-row  " style="background: #ffcc00; ">

                <div class="btndiv" style="height: 100%">
                    <div class="btndiv">
                        <img class="btnimg" src="../../assets/images/tour.png" alt="">
                        <br><br>
                        <h3 class="btnh">Virtual Tour</h3>
                    </div>

                </div>
            </div>
        </div>
    </a>
    <a href="" routerLink="/nav/attendance">
        <div class="col span_1_of_4">
            <div class="col clear inside-row " style="background: #ff3300">
                <div class="btndiv">
                    <img class="btnimg" src="../../assets/images/hostess.png" alt="" style="max-height: 52%; width: auto;">
                    <br><br>
                    <h3 class="btnh">Attendance</h3>
                </div>
            </div>
        </div>
    </a>
    <a href="" routerLink="/nav/lecturers">
        <div class="col span_1_of_4">
            <div class=" col clear inside-row " style="background: #3366ff">
                <div class="btndiv">
                    <img class="btnimg" src="../../assets/images/tour.png" alt="">
                    <br><br>
                    <h3 class="btnh">Lecturers</h3>
                </div>
            </div>
        </div>
    </a>
    <a href="" routerLink="/nav/timetable">
        <div class="col span_1_of_4">
            <div class="col clear inside-row " style="background: #6200cc">
                <div class="btndiv">
                    <img class="btnimg" src="../../assets/images/undraw_exams_g4ow.png" style="min-height: 51%; width: auto;" alt="">
                    <br><br>
                    <h3 class="btnh">Time Table</h3>
                </div>
            </div>
        </div>
    </a>



</div>