<div class=" container-fluid clear" style=" height: 50vh">


    <div class="row mh-100" style="height: 100%">
        <div class="col clear inside-row " style="background: white">
            <div style="background-image: url('../../assets/images/Rectangle -31.png'); min-height:100%">
                <app-home-top-left></app-home-top-left>
            </div>

        </div>

        <div class="col clear inside-row " style="background: white">
            <div *ngIf="switchCom" style="background-image: url('../../assets/images/Rectangle -1.png'); min-height:100%">
                <app-home-top-right></app-home-top-right>
            </div>
        </div>
    </div>


</div>



<!-- <div style="background: lightgrey; height: 50%; width: 100%; position: absolute; ">

    <div style="background: grey; height: 50%; width: 100%; position: absolute; ">&nbsp;</div>
</div>

<div style="background: lightgrey; height: 50%; width: 100%; position: relative; ">

    <div style="background: grey; height: 50%; width: 100%; position: relative; ">&nbsp;</div>
</div> -->