<div class="container-fluid">

    <!--Upper part-->
    <div class="row up">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <h1><font color="#9900ff">ATTENDANCE OVERVIEW</font></h1>
        <br>

        <div class="row top">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card-group" style="width: 100%">
              
              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Last Month</h5>
                  <p style="font-size: 50px; font-weight:600;">89.05%</p>
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Last Week</h5>
                  <p style="font-size: 50px; font-weight: 600;">82.5%</p>
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Weekly Attendance Chart </h5>
                </div>
              </div>

            </div>
          </div>
          
        </div>

        <div class="row middle">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" >
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Weekly Attendance </h5>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">Audience Gender </h5>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">Daily Attendance </h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div><!--End of upper part-->

  

  </div><!--End of container-->


=======

  <div class="container-fluid">

    <!--Upper part-->
    <div class="row up">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <h1><font color="#9900ff">ATTENDANCE OVERVIEW</font></h1>
        <br>

        <div class="row top">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card-group" style="width: 100%">
              
              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Last Month</h5>
                  <p style="font-size: 50px; font-weight:600;">89.05%</p>
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Last Week</h5>
                  <p style="font-size: 50px; font-weight: 600;">82.5%</p>
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Chart </h5>
                </div>
              </div>

            </div>
          </div>
          
        </div>

        <div class="row middle">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" >
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Weekly Attendance </h5>
              </div>
            </div>
          </div>

          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">Audience Gender </h5>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">Daily Attendance </h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div><!--End of upper part-->

  

  </div><!--End of container-->