<div class="container-fluid" >
    <div class="row ">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <br>
        <h1><font color="#9900ff">ATTENDANCE OVERVIEW</font></h1>
        <br>
      <!-- Upper row -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card-group" style="width: 100%">
              
              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Total Students</h5>
                  <p style="font-size: 50px; font-weight:600;"> 385</p>
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Present Today</h5>
                  <p style="font-size: 50px; font-weight: 600;">260</p>
                </div>
              </div>

              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Weekly Attendance Chart </h5>
                  <google-chart #chart
                    [title]="title"
                    [type]="type"
                    [data]="data"
                    [columnNames]="columnNames"
                    [options]="options"
                    [width]="width"
                    [height]="height">
                  </google-chart>
                </div>
              </div>

            </div>
          </div>
          
        </div> 
        <!-- End of upper row -->

        <!-- Middle row -->
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card-group" style="width: 100%">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Weekly Attendance</h5>
                  <br/>
                  <div class="col-md-6">
                    <p style="font-size: 15px; font-weight:50;">1st year lab</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 51%;" aria-valuenow="51" aria-valuemin="0" aria-valuemax="100">51%</div>
                    </div><br/>
                    <p style="font-size: 15px; font-weight:50;">2nd year lab</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 29%;" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100">29%</div>
                    </div><br/>
                    <p style="font-size: 15px; font-weight:50;">3rd year lab</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 11%;" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100">11%</div>
                    </div><br/>
                    <p style="font-size: 15px; font-weight:50;">Special lab</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
                    </div><br/>
                  </div>
                  <div class="col-md-5"></div>
                  
                  
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Daily Attendance</h5>
                  <google-chart #chart
                    [title]="title2"
                    [type]="type2"
                    [data]="data2"
                    [columnNames]="columnNames2"
                    [options]="options2"
                    [width]="width2"
                    [height]="height2">
                  </google-chart>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End of middle row -->

        <!-- Bottom row -->
        <div class="row">
          
        </div>
        
        <!-- <div class="row ">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" >
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Weekly Attendance </h5>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">Audience Gender </h5>
                  
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="card" >
              <div class="card-body">
                  <h5 class="card-title">Daily Attendance  </h5>
                  <div></div>
                  <google-chart #chart
                    [title]="title2"
                    [type]="type2"
                    [data]="data2"
                    [columnNames]="columnNames2"
                    [options]="options2"
                    [width]="width2"
                    [height]="height2">
                  </google-chart>
              </div>
            </div>
          </div>
        </div> -->
      </div>

    </div>
    <!-- End of row -->

  </div><!--End of container-->


  