<div class="column">
    <div class="row up" style="background-color:#f2f0eb;">
        <div class="roww f">
            <br><br><br>
            <p class="topic">ATTENDANCE &nbsp OVERVIEW</p>
        </div>
        <div class="roww s">
            <h1></h1>
        </div>
        <div class="roww t">
            <div class="rowww tf">
                <h1></h1>
            </div>
            <div class="rowww ts">
                <h1></h1>
            </div>
            <div class="rowww tt">
                <h1></h1>
            </div>
        </div>

    </div>

    <!-- <div class="row btm" style="background-color:#bbb;">
        <img src="src/btn1.jpg" alt="" width="100%" class="btn one">
        <img src="src/btn2.jpg" alt="" width="100%" class="btn two">
        <img src="src/btn3.jpg" alt="" width="100%" class="btn thr">
    </div> -->
</div>