<div class="home-top-left">
    <h1 style="color: white">Welcome to the <br>Department of Physics..!</h1>
    <br>
    <p style="color: white"><i>The Department of Physics of the University of Sri Jayewardenepura has a long history that runs back to more than four decades. The Department is among the largest, in view of the number of students within the Faculty of Applied Sciences. </i></p>
    <a href="http://science.sjp.ac.lk/phy/"><button type="button" class="btn btn-secondary" >Learn more..</button></a>
</div>