<div id="noticecontainer" class="row h-100 " style="min-height: 100%;">
    <!-- <div class="col h-100 w-20 " style="background-image: url('../../assets/images/notice-bg.png'); min-height: 100%; background-size: cover; max-width:20%;">
        <p>injihui</p>
    </div> -->

    <div class=" col rcorners2" *ngFor="let item of list">

        <h5> 🔴 {{ item.message }}</h5>


    </div>
    <div>

        <a routerLink="/nav/posters"> <button class="btn btn-primary" style="height: 20%;"> Go To Posters</button></a>


    </div>



</div>