<div class="container">
    <div class="row">
        <div class="col">
            <div style="padding:5%">

                <ul>
                    <li *ngFor="let i of list"> {{ i.message }} </li>
                </ul>
            </div>
        </div>
        <div class="col" style="max-width: 10%; height: 100%; vertical-align: middle">
            <img src="../../assets/images/Notice-PNG-Free-Download.png" alt="" style="margin-top:10%; height: 15vh; float: right; vertical-align: middle">
        </div>
    </div>
</div>