<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">GDIS v0.3</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

        <span class="navbar-text ml-auto text-right" style="align-self: right; float:right; margin: auto">
        Lecturers
      </span>
    </div>
</nav>
<div class="container-fluid" style="height: 90vh; overflow: auto; background: #3366ff">
    <!-- ......  -->
    <!-- <h2>Lecturers <br> </h2> -->

    <div class="row">

        <div class="col-xs-12 col-sm-4 col-md-3" *ngFor="let lec of lecList">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');" style="height: 100%; width:100%; margin: 1%;">
                <div class="mainflip">
                    <div class="frontside" style="height: 100%; width:100%;">
                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" [src]="lec.imgurl" alt="card image"></p>
                                <h4 class="card-title">{{ lec.salutation }} {{ lec.fullName }} </h4>
                                <p class="card-text" [innerHTML]="lec.position"></p>
                                <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a> -->

                            </div>
                        </div>
                    </div>
                    <div class="backside" style="height: 100%; width:100%;">
                        <div class="card">
                            <div class="card-body text-center mt-4 ">
                                <h4 class="card-title" [innerHTML]="lec.fullName"></h4>
                                <p class="card-text" [innerHTML]="lec.qualifications"></p>
                                <p class="card-text" [innerHTML]="lec.emailA"></p>
                                <p class="card-text">Research Area: {{ lec.resArea }} </p>
                                <!-- <button class="btn btn-primary">Learn more.. </button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .............  -->